/* variables */
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #050FD2;
  --container-padding-x: clamp(0.625rem, 0.489rem + 0.68vw, 1rem);
  --section-padding-y: clamp(1.875rem, 1.42rem + 2.27vw, 3.125rem);
}

/* base style */
.page {
  font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.125rem);
}
.container {
  width: 100%;
  max-width: 1499px;
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}
.section {
  padding-block: var(--section-padding-y);
}
.section__title {
  font-size: clamp(2.25rem, 1.977rem + 1.36vw, 3rem);
}
.section__inner {
  display: grid;
  column-gap: 40px;
  align-items: center;
  border: 1px solid var(--color-black);
}
.section__text:not(:last-of-type) {
  margin-bottom: clamp(0.625rem, 0.398rem + 1.14vw, 1.25rem);
}
.section__image {
  height: 100%;
  object-fit: cover;
}

/* section first */
.section-first .section__inner {
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px;
}
.section-first .section__inner::before {
  content: 'Header of inset';
  position: absolute;
  top: -20px;
  left: 20px;
  padding: 5px;
  border: 1px solid gray;
  background-color: var(--color-white);
  font-weight: bold;
}
.section-first .section__list {
  list-style: inside;
  padding-left: 0;
}

/* section second */
.section-second .section__inner {
  grid-template-columns: 40% 1fr;
  border-radius: 10px;
  overflow: hidden;
}
.section-second .section__body {
  padding: 20px 20px 20px 0;
}
.section-second .section__text:nth-of-type(2) {
  color: var(--color-blue);
}

/* media */
@media (width < 899px) {
  /*  base */
  .section__inner {
  }
  .section-first .section__inner,
  .section-second .section__inner {
    grid-template-columns: 1fr;
  }

  /* section first */
  .section-first .section__inner::before {
    left: 50%;
    translate: -50%;
  }
  .section-first .section__body {
    margin-bottom: 20px;
  }

  /* section second */
  .section-second .section__body {
    padding: 20px;
  }
}

